# Para ignorar a pasta "private" criada pelo NetBeans. #

PartyPay/PartyPay-PHP/nbproject/private/
PartyPay-PHP/nbproject/private/
./PartyPay-PHP/nbproject/private/private.xml
./PartyPay-PHP/nbproject/private/private.properties

# Talvez seja desejável também ignorar os outros files e folders #
# criados pelo NetBeans #

# Ignorando arquivos com extensão php~ criada pela máquina de algum integrante do time ou pelo gihub(?) #
*.php~
