.brand img{
	height: 39px;
}

.navbar-inner .brand {
	padding: 0 20px;
}

#hero ul{
	list-style: none;
	margin: 0;
}

#hero{
	position: relative;
	z-index: 1;
}
.navbar{
	margin-bottom: 0;
}

.busca{
	position: absolute;
	z-index: 160;
	top: 140px;
	right: 80px;
}
input[type="text"], input[type="email"], input[type="password"]{
	padding:10px;
}

input[type="number"]{
	height:30px;	
}

.busca h1, .busca h2{
	color: #FFF;
	text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
}